#headerimage {
  max-width: 100%;
  border-radius: 20px;
}

.cardimage {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.textcenter {
  text-align: center;
}

.justify{
  text-align: center;
}

body{
  font-family: 'Open Sans', sans-serif;
}

h1 {
font-family: 'Gravitas One', cursive;
}
